/* Add your styling for the search component here */
/* .search-container {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  button {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */
  
  /* button:hover {
    background-color: #45a049;
  } */
  
  /* .search-icon {
    width: 20px; /* Adjust the width and height according to your design */
    /* height: 20px;
    margin-right: 5px;
  } */ 
  